<section class="stk-main-header-section">
    <h1 class="h2">
        <%= theme.info.title %>
    </h1>
</section>
<section class="stk-main-header-section">
    <div class="toast toast-success">
        All Systems Operational
    </div>
</section>
<section class="stk-main-header-section">
    <h2 class="h4">About This Site</h2>
    <p class="text-gray">
        <%= theme.info.intro %>
    </p>
</section>