<section class="stk-main-header-section">
    <h1 class="h2">
        <%= theme.info.title %>
    </h1>
</section>
<section class="stk-main-header-section">
    <% var i = new Array(); %>
    <% for (var x in theme.components){ %>
        <% for (var y in theme.components[x].components){ %>
            <% i.push(theme.components[x].components[y].degree) %>
        <% } %>
    <% } %>
    <% function getMaxOfArray(numArray) {
        return Math.max.apply(null, numArray);
    } %>
    <% if (getMaxOfArray(i) === 1) { %>
        <div class="toast toast-success">
            All Systems Operational
        </div>
    <% } else if (getMaxOfArray(i) === 2) { %>
        <div class="toast toast-warning">
            Some systems are experiencing issues
        </div>
    <% } else if (getMaxOfArray(i) === 3) { %>
        <div class="toast toast-warning">
            Some systems are experiencing issues
        </div>
    <% } else if (getMaxOfArray(i) === 4) { %>
        <div class="toast toast-error">
            Some systems are experiencing a major outage
        </div>
    <% } %>
</section>
<section class="stk-main-header-section">
    <h2 class="h4">About This Site</h2>
    <p class="text-gray">
        <%= theme.info.intro %>
    </p>
</section>