<div class="timeline">

    <!-- Post List -->
    <% page.posts.each(function(post) { %>
        <% if(!((typeof hasposttop === 'function') && post.top)) { %>
            <%- partial('_partial/incident-entry', { post: post, index: true, pin: false }) %>
        <% } %>
    <% }); %>

</div>