<div class="container">
    <%- partial('_partial/index/header') %>
</div>
<div class="container">
    <%- partial('_partial/index/components-list') %>
</div>
<div class="container">
    <section class="stk-main-header-section">
        <h2 class="h4">Past Incident</h2>
    </section>
</div>
<div class="container stk-incident-list">
    <%- partial('_partial/index/incident-list') %>
</div>
