<!DOCTYPE html>
<!--
    Copyright 2018 neoFelhz
    https://github.com/neoFelhz/statuskit
-->

<html>

<%- partial('_partial/head') %>

<body>

    <!-- /****** AppBar ******/ -->
    <%- partial('_partial/appbar') %>

    <!-- /****** Content ******/ -->
    <main class="col-mx-auto">
        <%- body %>
    </main>

    <!-- /****** Footer ******/ -->
    <%- partial('_partial/footer') %>

</body>

</html>
